.project {
    position: relative;
    display: inline-block;
    margin: 0 auto 30px;
    flex:320px;
}


.project-title {
    position: absolute;
    top: 140px;
    color: white;
    text-align: center;
    background: #4aaaa5;
    width: 250px;
}

img {
    display: block;
    width: 250px;
    height: 150px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
} 



