.project{
    display: inline-block;
    width: 200px;
    height: 232px;
    margin: 0 20px;
}

.project h3 {
    width: 100%;
    background: #4aaaa5;
    color: white;
    text-align: center;
    position: relative;
    top: 175px;
}


.project img {
    padding: 0;
    width: 200px;
    height: 200px;
}

 
.gallery {
    display: flex;
    flex-wrap: wrap;
} 



